include "v1.0.kdl"

layout {
    gaps 0
    focus-ring {
        width 0.5
    }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    preset-column-widths {
        proportion 0.3333
        proportion 0.5
        proportion 0.6667
    }
}

workspace "code" {
    open-on-output "DP-5"
}

window-rule {
    match app-id="code-insiders"
    open-on-workspace "code"
    open-focused true
    open-maximized true
    opacity 1.0
}

window-rule {
    geometry-corner-radius 0
    default-column-width {proportion 0.5;}
}

window-rule {
    match app-id="org.gnome.Nautilus"
    
    open-floating true

    open-maximized false
    open-maximized-to-edges false
}

window-rule {
    match app-id="org.godotengine.Editor"
    open-maximized false
    default-column-width {proportion 0.5;}
}

/-window-rule {
    match app-id=r#"learn"#
    match title=r#"^.*DEBUG.*$"#

    open-maximized false
    open-floating true
}
