include "v1.0.kdl"

layout {
    gaps 0
    focus-ring {
        width 0.5
    }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    preset-column-widths {
        proportion 0.3333
        proportion 0.5
        proportion 0.6667
    }
}

window-rule {
    geometry-corner-radius 0
}