@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 13.5px;
}

window#waybar {
  background-color: rgba(43,48,59,0);
  color: #ffffff;

}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background-color: rgba(120,120,120,0.3);
  border: 2px solid rgba(120,120,120,0.8); 
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 2px;
  border-radius: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @text;

}

#workspaces button.empty {
  opacity: 0.5;
  color: @overlay0;
}

#workspaces button.visible {
  color: @blue;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  background-color: @red;
  border-radius: 1em;
  color: @text;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
